<%- include('templates/header') %>
  <div class="content">
    <img src="img/<%- image.image %>" alt="sassy giraffe">
    <h1>Hello <%= name %>, this is a <%= image.caption %>
    </h1>
    <a href="/logout">Signout</a>
    <br>
    <br>
    <a href="/">Home</a>
  </div>
  <%- include('templates/footer') %>